USE [master]
GO
/****** Object:  Database [trash]    Script Date: 29.09.2019 9:28:01 ******/
CREATE DATABASE [trash]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'trash', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLDEV2014\MSSQL\DATA\trash.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'trash_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLDEV2014\MSSQL\DATA\trash_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [trash].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [trash]
GO
/****** Object:  Table [dbo].[t_oper_trash]    Script Date: 29.09.2019 9:28:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_oper_trash](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[oper_id] [int] NOT NULL,
	[owner_id] [int] NOT NULL,
	[tip_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[t_operators]    Script Date: 29.09.2019 9:28:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_operators](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](1000) NULL,
	[kont_tel] [nvarchar](128) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[t_res]    Script Date: 29.09.2019 9:28:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_res](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[owner_id] [int] NULL,
	[tip_id] [int] NULL,
	[val] [int] NULL,
	[dt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[t_status]    Script Date: 29.09.2019 9:28:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_status](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[owner_id] [int] NOT NULL,
	[tip_id] [int] NOT NULL,
	[val_status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[t_tip]    Script Date: 29.09.2019 9:28:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_tip](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tip] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[t_trash]    Script Date: 29.09.2019 9:28:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_trash](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[x] [float] NULL,
	[y] [float] NULL,
	[battery] [int] NULL,
	[plastic] [int] NULL,
	[paper] [int] NULL,
	[glass] [int] NULL,
	[mercury] [int] NULL,
	[other] [int] NULL,
	[gid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[t_user_trash]    Script Date: 29.09.2019 9:28:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_user_trash](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[tip_id] [int] NOT NULL,
	[owner_id] [int] NOT NULL,
	[dt] [datetime] NULL,
	[val_user] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[t_users]    Script Date: 29.09.2019 9:28:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[fio] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  UserDefinedFunction [dbo].[statistics_trash]    Script Date: 29.09.2019 9:28:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[statistics_trash] (@param int)
RETURNS TABLE
 AS RETURN (
	select owner_id,tip,val_status 
	from t_status s,t_tip t 
	where val_status>@param
	and t.id=tip_id
);
GO
SET IDENTITY_INSERT [dbo].[t_oper_trash] ON 

INSERT [dbo].[t_oper_trash] ([id], [oper_id], [owner_id], [tip_id]) VALUES (1, 1, 3, 1)
INSERT [dbo].[t_oper_trash] ([id], [oper_id], [owner_id], [tip_id]) VALUES (2, 1, 4, 1)
INSERT [dbo].[t_oper_trash] ([id], [oper_id], [owner_id], [tip_id]) VALUES (3, 1, 5, 1)
GO
SET IDENTITY_INSERT [dbo].[t_oper_trash] OFF
SET IDENTITY_INSERT [dbo].[t_operators] ON 

INSERT [dbo].[t_operators] ([id], [name], [kont_tel]) VALUES (1, N'Компания 1', N'9120000001')
INSERT [dbo].[t_operators] ([id], [name], [kont_tel]) VALUES (2, N'Компания 2', N'9120000002')
INSERT [dbo].[t_operators] ([id], [name], [kont_tel]) VALUES (3, N'Компания 3', N'9120000003')
SET IDENTITY_INSERT [dbo].[t_operators] OFF
SET IDENTITY_INSERT [dbo].[t_res] ON 

INSERT [dbo].[t_res] ([id], [owner_id], [tip_id], [val], [dt]) VALUES (1, 3, 1, 17, CAST(N'2019-09-01 12:00:00.000' AS DateTime))
INSERT [dbo].[t_res] ([id], [owner_id], [tip_id], [val], [dt]) VALUES (2, 4, 1, 29, CAST(N'2019-09-01 12:00:00.000' AS DateTime))
INSERT [dbo].[t_res] ([id], [owner_id], [tip_id], [val], [dt]) VALUES (3, 5, 1, 46, CAST(N'2019-09-01 12:00:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[t_res] OFF
SET IDENTITY_INSERT [dbo].[t_status] ON 

INSERT [dbo].[t_status] ([id], [owner_id], [tip_id], [val_status]) VALUES (1, 3, 1, 17)
INSERT [dbo].[t_status] ([id], [owner_id], [tip_id], [val_status]) VALUES (2, 4, 1, 33)
INSERT [dbo].[t_status] ([id], [owner_id], [tip_id], [val_status]) VALUES (3, 5, 1, 49)
GO
SET IDENTITY_INSERT [dbo].[t_status] OFF
SET IDENTITY_INSERT [dbo].[t_tip] ON 

INSERT [dbo].[t_tip] ([id], [tip]) VALUES (1, N'battery')
INSERT [dbo].[t_tip] ([id], [tip]) VALUES (2, N'plastic')
INSERT [dbo].[t_tip] ([id], [tip]) VALUES (3, N'paper')
SET IDENTITY_INSERT [dbo].[t_tip] OFF
SET IDENTITY_INSERT [dbo].[t_trash] ON 

INSERT [dbo].[t_trash] ([id], [x], [y], [battery], [plastic], [paper], [glass], [mercury], [other], [gid]) VALUES (1, 55.888527099777683, 49.039402850433028, 0, 0, 1, 1, 0, 0, 0)
INSERT [dbo].[t_trash] ([id], [x], [y], [battery], [plastic], [paper], [glass], [mercury], [other], [gid]) VALUES (2, 55.8304614662759, 49.122200180749722, 0, 1, 0, 0, 1, 0, 0)
INSERT [dbo].[t_trash] ([id], [x], [y], [battery], [plastic], [paper], [glass], [mercury], [other], [gid]) VALUES (3, 55.850395765682691, 49.218190305647994, 1, 0, 1, 0, 0, 1, 0)
GO
SET IDENTITY_INSERT [dbo].[t_trash] OFF
SET IDENTITY_INSERT [dbo].[t_user_trash] ON 

INSERT [dbo].[t_user_trash] ([id], [user_id], [tip_id], [owner_id], [dt], [val_user]) VALUES (1, 1, 2, 2, CAST(N'2019-09-01 13:00:00.000' AS DateTime), 1)
INSERT [dbo].[t_user_trash] ([id], [user_id], [tip_id], [owner_id], [dt], [val_user]) VALUES (2, 3, 1, 3, CAST(N'2019-09-01 14:00:00.000' AS DateTime), 0)
INSERT [dbo].[t_user_trash] ([id], [user_id], [tip_id], [owner_id], [dt], [val_user]) VALUES (3, 4, 1, 4, CAST(N'2019-09-01 14:00:00.000' AS DateTime), 4)
SET IDENTITY_INSERT [dbo].[t_user_trash] OFF
SET IDENTITY_INSERT [dbo].[t_users] ON 

INSERT [dbo].[t_users] ([user_id], [fio]) VALUES (1, N'Иванов И')
INSERT [dbo].[t_users] ([user_id], [fio]) VALUES (2, N'петров П')
INSERT [dbo].[t_users] ([user_id], [fio]) VALUES (3, N'Сидоров С')
GO
SET IDENTITY_INSERT [dbo].[t_users] OFF
ALTER TABLE [dbo].[t_oper_trash]  WITH CHECK ADD  CONSTRAINT [FK_oper_id] FOREIGN KEY([oper_id])
REFERENCES [dbo].[t_operators] ([id])
GO
ALTER TABLE [dbo].[t_oper_trash] CHECK CONSTRAINT [FK_oper_id]
GO
ALTER TABLE [dbo].[t_oper_trash]  WITH CHECK ADD  CONSTRAINT [FK_oper_tip] FOREIGN KEY([tip_id])
REFERENCES [dbo].[t_tip] ([id])
GO
ALTER TABLE [dbo].[t_oper_trash] CHECK CONSTRAINT [FK_oper_tip]
GO
ALTER TABLE [dbo].[t_oper_trash]  WITH CHECK ADD  CONSTRAINT [FK_oper_trash] FOREIGN KEY([owner_id])
REFERENCES [dbo].[t_trash] ([id])
GO
ALTER TABLE [dbo].[t_oper_trash] CHECK CONSTRAINT [FK_oper_trash]
GO
ALTER TABLE [dbo].[t_res]  WITH CHECK ADD  CONSTRAINT [FK_res] FOREIGN KEY([owner_id])
REFERENCES [dbo].[t_trash] ([id])
GO
ALTER TABLE [dbo].[t_res] CHECK CONSTRAINT [FK_res]
GO
ALTER TABLE [dbo].[t_res]  WITH CHECK ADD  CONSTRAINT [FK_tip] FOREIGN KEY([tip_id])
REFERENCES [dbo].[t_tip] ([id])
GO
ALTER TABLE [dbo].[t_res] CHECK CONSTRAINT [FK_tip]
GO
ALTER TABLE [dbo].[t_status]  WITH CHECK ADD  CONSTRAINT [FK_status_tip] FOREIGN KEY([tip_id])
REFERENCES [dbo].[t_tip] ([id])
GO
ALTER TABLE [dbo].[t_status] CHECK CONSTRAINT [FK_status_tip]
GO
ALTER TABLE [dbo].[t_status]  WITH CHECK ADD  CONSTRAINT [FK_status_trash] FOREIGN KEY([owner_id])
REFERENCES [dbo].[t_trash] ([id])
GO
ALTER TABLE [dbo].[t_status] CHECK CONSTRAINT [FK_status_trash]
GO
ALTER TABLE [dbo].[t_user_trash]  WITH CHECK ADD  CONSTRAINT [FK_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[t_users] ([user_id])
GO
ALTER TABLE [dbo].[t_user_trash] CHECK CONSTRAINT [FK_user_id]
GO
ALTER TABLE [dbo].[t_user_trash]  WITH CHECK ADD  CONSTRAINT [FK_user_tip] FOREIGN KEY([tip_id])
REFERENCES [dbo].[t_tip] ([id])
GO
ALTER TABLE [dbo].[t_user_trash] CHECK CONSTRAINT [FK_user_tip]
GO
ALTER TABLE [dbo].[t_user_trash]  WITH CHECK ADD  CONSTRAINT [FK_user_trash] FOREIGN KEY([owner_id])
REFERENCES [dbo].[t_trash] ([id])
GO
ALTER TABLE [dbo].[t_user_trash] CHECK CONSTRAINT [FK_user_trash]
GO
/****** Object:  StoredProcedure [dbo].[clear_trash]    Script Date: 29.09.2019 9:28:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[clear_trash] (@owner_id  INT, @tip int)
as
begin
	
	update t_status set val_status=0 where owner_id=@owner_id and tip_id=@tip
end;
GO
/****** Object:  StoredProcedure [dbo].[user_add_trash]    Script Date: 29.09.2019 9:28:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[user_add_trash] (@user_id INT, @id  INT, @tip int)
as
begin
	
	DECLARE @vals int
	DECLARE @dt datetime

	 set @vals = round(5*(RAND()),0)
	 
	 set @dt=CONVERT(datetime, '01/09/2019 13:00:00', 104)
	 
     insert into dbo.t_res values (@id,@tip,@vals,@dt)
     insert into dbo.t_user_trash values (@user_id,@tip,@id,@dt,@vals)
end;
GO
/****** Object:  StoredProcedure [dbo].[user_add_trash2]    Script Date: 29.09.2019 9:28:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[user_add_trash2] (@user_id INT, @id  INT, @tip int, @dt_str nvarchar(100))
as
begin
	
	DECLARE @vals int
	DECLARE @dt datetime

	 set @vals = round(4*(RAND()),0)+1
	 
	 set @dt=CONVERT(datetime, @dt_str, 104)
	 
     insert into dbo.t_res values (@id,@tip,@vals,@dt)
     insert into dbo.t_user_trash values (@user_id,@tip,@id,@dt,@vals)
end;
GO
USE [master]
GO
