<div class="head">
    
</div>
<div class="menuHead">
    <span>Людям</span>
    <span>Сборщикам</span>
    <span>Переработчикам</span>
    <span>Войти</span>
</div>

@Styles.Render("~/Content/css/HeadStyle.css")
