<div id="typetrash">
    <h2>Выбор типов</h2>

    <ul>
        <li><label><input type="checkbox" name="type" value="1" checked /><span class="typeLamp"></span></label></li>
        <li><label><input type="checkbox" name="type" value="2" checked /><span class="plastic"></span></label></li>
        <li><label><input type="checkbox" name="type" value="3" checked /><span class="paper"></span></label></li>
        <li><label><input type="checkbox" name="type" value="4" checked /><span class="glass"></span></label></li>
        <li><label><input type="checkbox" name="type" value="5" checked /><span class="mercury"></span></label></li>
        <li><label><input type="checkbox" name="type" value="6" checked /><span class="other"></span></label></li>
    </ul>
</div>

@Styles.Render("~/Content/css/TypeTrashStyle.css")