@{
    ViewBag.Title = "Карта оператора";
}

<div>
    @Html.Partial("_MenuOperator")
    <div id="map" class="map"></div>
</div>

@Scripts.Render("~/Scripts/myJS/YaMaps.js")
@Scripts.Render("~/Scripts/myJS/Fulling.js")
@Scripts.Render("~/Scripts/myJS/OperatorMain.js")

